<mat-sidenav-container autosize class="viewer-sidenav-container " fxFlex>
  <mat-sidenav class="viewer-sidenav mat-elevation-z3" mode="side" opened>

    <mat-nav-list>
      <a [routerLink]="['workshopProductPlanReport']" mat-list-item routerLinkActive="active">
        {{'Nav.workshopProductPlanReport'|translate}}
      </a>
      <a [routerLink]="['notifies']" mat-list-item routerLinkActive="active">
        {{'Nav.productPlanNotifies'|translate}}
      </a>
      <a [routerLink]="['batches']" mat-list-item routerLinkActive="active">
        {{'Nav.batches'|translate}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="viewer-sidenav-content" fxLayout="column">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
