<mat-toolbar class="title">
  <div class="dialog-title truncate" fxFlex>
    {{dialogTitle|translate}}
  </div>
  <button color="accent" mat-icon-button matDialogClose tabindex="-1" type="button">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="form" fxLayout="column" fxFlex>
  <mat-form-field floatLabel="always">
    <input matInput [value]="silkCar.code" disabled>
    <mat-hint align="end">{{silkCarRecord.id}}</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-select formControlName="silkExceptions" multiple [compareWith]="compareWithId"
                [placeholder]="'silkException'|translate">
      <mat-option *ngFor="let it of productProcess.exceptions" [value]="it">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="productProcess.notes&&productProcess.notes.length>0">
    <mat-form-field floatLabel="always">
      <mat-select formControlName="silkNotes" multiple [compareWith]="compareWithId"
                  [placeholder]="'silkNote'|translate">
        <mat-option *ngFor="let it of productProcess.notes" [value]="it">
          {{it.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <app-form-config-value-input [formConfig]="formConfig" formControlName="formConfigValueData"
                               *ngIf="formConfig"></app-form-config-value-input>

</form>

<button type="button" (click)="submit()" mat-raised-button color="primary" [disabled]="form.invalid" fxFlex="none">
  {{'Common.finish'|translate}}
</button>
